body {
    background-color: #f4edea;
    margin: 0;
}

/* Title */
#title {
    color: #f4edea;
    font-size: 50px;
}

#containertitle{
    background-color: #12263A;
    padding: auto 0px;
}

/* Picture and introduction part */
#portrait {
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
}

#container{
    display: grid;
    align-items: center; 
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    }

@media (max-width: 700px){
    #container{
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
        row-gap: 20px;
    }
}

main {
    max-width: 1000px;  /* Stop content from getting too wide on big screens */
    margin: 0 auto;     /* Center the content block in the middle of the screen */
    padding: 20px;
}

/* Fonts */
h1, h2, h3, p, em, ul, a, #title{
    font-family: Verdana, sans-serif;
}

h1 {
    color: #12263A;
}


p, em, ul, h3 {
    color: #12263A;
    margin-top: 2px;
}

em {
    font-weight: thin;
}

h2 {
    color: #12263A;
}

.boite {
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: #DDCAD9;
    margin-bottom: 10px;
}

.boite:hover{
    background-color: #F8C7CC;
}