body {
    background-color: #F7F9FC;
    margin: 0;
}

/* Title */
#title {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    font-size: 50px;

    margin-top: 8px;      /* Enlève l'espace au-dessus du titre */
    margin-bottom: 0;   /* Enlève l'espace en dessous (optionnel) */
    padding-top: 10px;  /* (Optionnel) Ajoute un peu de gras DANS la barre bleue si le texte touche le bord */
    padding-bottom: 10px;
}

#containertitle{
    background-color: #12263A;
    padding: auto 0px;
}

.top-link a {
    margin-left: 5px;
    color: black;

    font-size: 24px;
    line-height: 1;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    vertical-align: middle;
}

.top-link{
    padding-top: 8px;
    padding-bottom: 1px;
    margin-left:10px;
}

/* Picture and introduction part */
#portrait {
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;

    width: 150px;

    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    shape-margin: 20px;
    
    shape-outside: border-box;
}

#container{
    display: block;
    overflow: hidden;    
    }

@media (max-width: 700px){
    #container{
        text-align: center;;
    }

    #portrait {
        float: none;
        margin: 0 auto 20px auto;
        display: block;
    }
}

main {
    max-width: 1000px;  /* Stop content from getting too wide on big screens */
    margin: 0 auto;     /* Center the content block in the middle of the screen */
    padding: 20px;
}

/* Fonts */
p, em, ul, a{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    color: #12263A;
    font-weight: 700; 
    letter-spacing: -0.5px;
}

h1 {
    color: #12263A;
}

a {
    color: #6C63FF; /* Modern Blurple (Blue-Purple) */
    font-weight: 600;
}

p, em, ul, h3 {
    color: #12263A;
    margin-top: 2px;
}

em {
    font-weight: thin;
}

h2 {
    color: #12263A;
}

.boite {
    padding: 20px;
    background-color: #E8EAF6;
    border-left: 5px solid #6C63FF; 
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
}

.boite:hover{
    background-color: #FFFFFF; 
    transform: translateY(-3px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}